In [55]:
import pandas as pd
df0 = pd.read_excel('df12.xlsx', sheet_name=0)
df1 = pd.read_excel('df12.xlsx', sheet_name=1)
df2 = pd.read_excel('df12.xlsx', sheet_name=2)
df3 = pd.read_excel('df12.xlsx', sheet_name=3)

In [60]:
df0.columns=['Id посылки', 'Id офиса отправления', 'Дата отправления',
       'id офиса получения', 'Дата получения', 'Время в пути']
df1.columns=['Id посылки', 'Тип посылки', 'ID начального офиса',
       'ID конечного офиса', 'Озвученная дата получения']

df0['Дата отправления'] = df0['Дата отправления']+ pd.DateOffset(hours=0.1)
df0['Дата получения'] = df0['Дата получения']+ pd.DateOffset(hours=0.1)
df1['Озвученная дата получения'] = df1['Озвученная дата получения']+ pd.DateOffset(hours=0.1)

df3['Time calculation request'] = df3['Time calculation request']+ pd.DateOffset(hours=0.1)
df3['Time delivered to office'] = df3['Time delivered to office']+ pd.DateOffset(hours=0.1)

In [61]:
df0

,Id посылки,Id офиса отправления,Дата отправления,id офиса получения,Дата получения,Время в пути
0,1,1,2021-07-21 00:12:00,2,2021-07-30 00:12:00,9
1,1,2,2021-07-30 00:12:00,3,2021-08-06 00:12:00,7
2,1,3,2021-08-06 00:12:00,4,2021-08-08 00:12:00,2
3,1,5,2021-08-08 00:12:00,6,2021-08-17 00:12:00,9
4,2,1,2021-07-21 00:12:00,2,2021-07-29 00:12:00,8
5,2,2,2021-07-29 00:12:00,5,2021-07-29 00:12:00,0
6,2,5,2021-07-29 00:12:00,12,2021-08-05 00:12:00,7
7,3,2,2021-07-21 00:12:00,5,2021-07-30 00:12:00,9
8,3,5,2021-07-30 00:12:00,7,2021-08-08 00:12:00,9

In [62]:
df1

,Id посылки,Тип посылки,ID начального офиса,ID конечного офиса,Озвученная дата получения
0,1,Конверт,1,6,2021-08-17 00:12:00
1,2,Пакет,1,12,2021-08-05 00:12:00
2,3,Пакет,2,8,2021-08-09 00:12:00

In [63]:
df2

   Id офиса  Высота  Широта              Тип офиса
0         1      79      35                   Офис
1         2      79      38                     РЦ
2         3      18      17  Транспортная компания
3         5      58      60  Транспортная компания
4         4      99      62                     РЦ
5         6      95      78                   Офис
6        12     116       7                   Офис
7         7       4     115                   Офис

In [64]:
df3

,order ID,Cdek ID,Высота (геолокации где был сформулирован запрос на расчет сроков),Широта(геолокации где был сформулирован запрос на расчет сроков),Time calculation request,Time delivered to office
0,1,64946,79,35,2021-07-26 00:06:00,2021-07-28 00:06:00
1,2,35055,79,38,2021-07-31 00:06:00,2021-07-31 00:06:00
2,3,48240,18,17,2021-07-26 00:06:00,2021-07-26 00:06:00
3,4,81769,58,60,2021-08-01 00:06:00,2021-08-01 00:06:00
4,5,84395,99,62,2021-07-25 00:06:00,2021-07-27 00:06:00
5,6,77574,95,78,2021-07-31 00:06:00,2021-07-31 00:06:00
6,7,8651,116,7,2021-07-28 00:06:00,2021-07-29 00:06:00
7,8,57383,4,115,2021-08-02 00:06:00,2021-08-04 00:06:00

In [65]:
df = df0.merge(df1, on='Id посылки')

In [67]:
df = df.merge(df2, left_on='Id офиса отправления',right_on='Id офиса',suffixes=('_left', '_right'))

In [68]:
df

,Id посылки,Id офиса отправления,Дата отправления,id офиса получения,Дата получения,Время в пути,Тип посылки,ID начального офиса,ID конечного офиса,Озвученная дата получения,Id офиса,Высота,Широта,Тип офиса
0,1,1,2021-07-21 00:12:00,2,2021-07-30 00:12:00,9,Конверт,1,6,2021-08-17 00:12:00,1,79,35,Офис
1,2,1,2021-07-21 00:12:00,2,2021-07-29 00:12:00,8,Пакет,1,12,2021-08-05 00:12:00,1,79,35,Офис
2,1,2,2021-07-30 00:12:00,3,2021-08-06 00:12:00,7,Конверт,1,6,2021-08-17 00:12:00,2,79,38,РЦ
3,2,2,2021-07-29 00:12:00,5,2021-07-29 00:12:00,0,Пакет,1,12,2021-08-05 00:12:00,2,79,38,РЦ
4,3,2,2021-07-21 00:12:00,5,2021-07-30 00:12:00,9,Пакет,2,8,2021-08-09 00:12:00,2,79,38,РЦ
5,1,3,2021-08-06 00:12:00,4,2021-08-08 00:12:00,2,Конверт,1,6,2021-08-17 00:12:00,3,18,17,Транспортная компания
6,1,5,2021-08-08 00:12:00,6,2021-08-17 00:12:00,9,Конверт,1,6,2021-08-17 00:12:00,5,58,60,Транспортная компания
7,2,5,2021-07-29 00:12:00,12,2021-08-05 00:12:00,7,Пакет,1,12,2021-08-05 00:12:00,5,58,60,Транспортная компания
8,3,5,2021-07-30 00:12:00,7,2021-08-08 00:12:00,9,Пакет,2,8,2021-08-09 00:12:00,5,58,60,Транспортная компания

In [43]:
df = df.merge(df2, left_on='id офиса получения',right_on='Id офиса',suffixes=('_left', '_right'))

In [44]:
df

,Id посылки,Id офиса отправления,Дата отправления,id офиса получения,Дата получения,Время в пути,Тип посылки,ID офиса отправления,ID офиса получения,Озвученная дата получения,Id офиса_left,Высота_left,Широта_left,Тип офиса_left,Id офиса_right,Высота_right,Широта_right,Тип офиса_right
0,1,1,2021-07-21,2,2021-07-30,9,Конверт,1,6,2021-08-17,1,79,35,Офис,2,79,38,РЦ
1,2,1,2021-07-21,2,2021-07-29,8,Пакет,1,12,2021-08-05,1,79,35,Офис,2,79,38,РЦ
2,1,2,2021-07-30,3,2021-08-06,7,Конверт,1,6,2021-08-17,2,79,38,РЦ,3,18,17,Транспортная компания
3,2,2,2021-07-29,5,2021-07-29,0,Пакет,1,12,2021-08-05,2,79,38,РЦ,5,58,60,Транспортная компания
4,3,2,2021-07-21,5,2021-07-30,9,Пакет,2,8,2021-08-09,2,79,38,РЦ,5,58,60,Транспортная компания
5,1,3,2021-08-06,4,2021-08-08,2,Конверт,1,6,2021-08-17,3,18,17,Транспортная компания,4,99,62,РЦ
6,1,5,2021-08-08,6,2021-08-17,9,Конверт,1,6,2021-08-17,5,58,60,Транспортная компания,6,95,78,Офис
7,2,5,2021-07-29,12,2021-08-05,7,Пакет,1,12,2021-08-05,5,58,60,Транспортная компания,12,116,7,Офис
8,3,5,2021-07-30,7,2021-08-08,9,Пакет,2,8,2021-08-09,5,58,60,Транспортная компания,7,4,115,Офис